<div class="list-group">
    @CreateLink("ControllerLess views", "/")
    @CreateLink("ControllerLess views in areas", "/Custom/Example4/Example4a")
    @CreateLink("ControllerLess actions", "/Example1/Example1a")
    @CreateLink("Standard ASP.NET MVC actions", "/Example1/Example1b")
    @CreateLink("Configure custom routes", "/Example3/Example3a")
    @CreateLink("Configure custom routes for areas", "/Custom/Example5/Example5a")
</div>

@functions {
    public MvcHtmlString CreateLink(string caption, string url)
    {
        var template = "<a href=\"{0}\" class=\"{1}\">{2}</a>";
        var css = "list-group-item";

        if (Request.Url.PathAndQuery == url)
        {
            css += " active";
        }

        return new MvcHtmlString(string.Format(template, url, css, caption));
    }
}